$main-color: #873232;
$main-hover: lighten(#873232, 5);
$main-light: #a83d35;
$warning-color: #ffc819;
$success-color: #73BE3A;
$info-color: #177DDC;
$error-color: #471111;
$text-m: #ffffff;
$text-b: #000000;
$text-d:#7D7D7D;
$text-l: #be3a3b;
$text-t: #DBDBDB;
$text-g: #acacac;
$text-b2: #1C1C1C;
$text-w: #cb7e7e;
$border: #303030;
$bg:#111111;
$bg-f: #1C1C1C; // 用在了footer等
$bg-c: #161616;
$bg-w: #ffffff;
$bg-a: #1d1d1d;
$bg-d: #101010;


