@import './base.scss';
* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
        Microsoft YaHei, '微软雅黑', Arial, sans-serif;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
a,
ul,
li,
span,
i,
ol,
dl,
dt,
dd,
table,
thead,
tbody,
th,
td,
input,
button {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    color: #121212;
    background: #f7f7fa;
    // min-width: 1280px;
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background-color: #f5f5f5;
        height: 10px;
        position: fixed;
        bottom: 0;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.44, #873232),
            color-stop(0.72, #873232),
            color-stop(0.86, #873232)
        );
    }
}
a {
    cursor: pointer;
    text-decoration: none;
}
i {
    font-style: normal;
}
ul {
    list-style: none;
}

button,
input,
select {
    border: none;
    outline: none;
}

// 去掉数字类型右侧上下箭头
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}

.have-icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.select {
    height: 40px;
    border-radius: 3px;
    border: 1px solid $border;
    background: $bg-d;
    color: $text-t;
    padding: 0 16px;
    appearance: none;
    background: url('../img/icon/pull.png') center right no-repeat;
    background-size: 20px 20px;
    font-size: 16px;
    cursor: pointer;
}

$td-gap: 16px;
.table {
    width: 100%;
    border-collapse: collapse;
    color: $text-t;
    thead {
        th {
            height: 44px;
            text-align: left;
            padding-left: $td-gap;
            font-size: 14px;
            font-weight: 400;
            &:last-child {
                text-align: right;
                padding-right: $td-gap;
            }
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid $border;
            &:last-child {
                border-bottom: none;
            }
            td {
                height: 64px;
                text-align: left;
                padding-left: $td-gap;
                font-size: 14px;
                &:last-child {
                    text-align: right;
                    padding-right: $td-gap;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                > a {
                    display: flex;
                    align-items: center;
                    margin-left: 16px;
                    color: $text-m;
                    background: $main-color;
                    height: 32px;
                    line-height: 32px;
                    padding: 0px 10px;
                    border-radius: 10px;
                    > img {
                        width: 20px;
                        height: 20px;
                        margin-right: 4px;
                    }
                    &:hover {
                        background: lighten($color: $main-color, $amount: 5);
                    }
                }
                > button {
                    display: flex;
                    align-items: center;
                    margin-left: 16px;
                    color: $text-m;
                    background: $main-color;
                    height: 32px;
                    line-height: 32px;
                    padding: 0px 10px;
                    border-radius: 12px;
                    > img {
                        width: 20px;
                        height: 20px;
                        margin-right: 4px;
                    }
                    &:hover {
                        background: lighten($color: $main-color, $amount: 5);
                    }
                    &:disabled {
                        background: rgba($main-color, 0.8);
                    }
                }
            }
        }
    }
}
.tabs-item-box {
    min-width: 240px;
    width: calc(100% - 32px);
    background: $bg-c;
    border-radius: 4px;
    padding: 20px 12px;
    margin-top: 10px;
    .tabs-item-box-title {
        display: flex;
        align-items: center;
        > img {
            width: 51px;
            height: 32px;
        }
        > h3 {
            font-size: 24px;
            font-weight: 500;
            color: #dbdbdb;
            line-height: 32px;
            margin: 0 4px 0 10px;
        }
        > p {
            padding: 2px 4px;
            background: #262626;
            border-radius: 4px 4px 4px 0px;
            display: flex;
            align-items: center;
            i {
                display: block;
                width: 12px;
                height: 12px;
                background-image: url('../../assets/img/icon/safe@2x.png');
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 2px;
            }
            span {
                font-size: 12px;
                font-weight: 400;
                color: #dbdbdb;
            }
        }
    }
    .tabs-item-box-text {
        display: flex;
        > p {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-top: 12px;
            > span:nth-of-type(1) {
                font-size: 12px;
                font-weight: 400;
                color: #7d7d7d;
            }
        }
    }
    .tabs-item-box-btn {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .active {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            background: #873232;
            border-radius: 10px;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            text-align: center;
            line-height: 30px;
            img {
                width: 16px;
            }
        }
        .active:hover {
            background: $main-hover;
        }
        .size-big {
            width: 100%;
        }
        .size-min {
            width: 45%;
        }
        .giveBack {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            border-radius: 10px;
            border: 1px solid #873232;
            background: transparent;
            font-size: 14px;
            font-weight: 500;
            color: #be3a3b;
            text-align: center;
            line-height: 30px;
            img {
                width: 16px;
            }
        }
    }
}
.loading {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 40px;
        height: 40px;
        margin: 40px 0px;
    }
}
.button-loading {
    color: rgba(255, 255, 255, 0.4) !important;
}
.pages {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    div {
        width: 65px;
        height: 32px;
        border: 1px solid #cfcfd2;
        border-radius: 3px;
        display: flex;
        box-sizing: border-box;
        right: 0;
        p {
            cursor: pointer;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                width: 20px;
                height: 20px;
                transform: rotate(90deg);
                fill: #cfcfd2;
                &:hover {
                    fill: #919aa6;
                }
            }
        }

        i {
            display: block;
            width: 1px;
            height: 100%;
            background: #cfcfd2;
        }
    }
}
.noData {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        width: 80px;
        margin: 0 auto;
        img {
            width: 80px;
            height: 80px;
        }
        p {
            text-align: center;
            font-size: 12px;
            color: #919aa6;
        }
    }
}
@media screen and (max-width: 750px) {
    html,
    body {
        font-size: 14px;
    }
    .select {
        width: 100%;
    }
    .table {
        display: none;
    }
}
@media screen and (min-width: 750px) {
    html,
    body {
        font-size: 16px;
    }
    .select {
        min-width: 200px;
    }
    .tabs-item-box {
        display: none;
    }
}
.o_button {
    padding: 0 16px;
    height: 40px;
    background: #ff9600;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    &:hover {
        background: #ffa000;
    }
}
.b_button {
    min-width: 88px;
    padding: 0 16px;
    height: 40px;
    background: #121212;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    &:hover {
        background: #2c2c2c;
    }
}
.b_b_button {
    padding: 0 34px;
    height: 40px;
    background: #121212;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    &:hover {
        background: #2c2c2c;
    }
}
